.console-component button {
    width: 8rem;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    color: white;
    background-color: rgb(120, 155, 202);
  }
  
  .console-component button:hover {
    background-color: rgb(100, 139, 190);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.custom-select {
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  background-color: rgb(118 87 129);
  color: white;
  width: 85%;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}

.custom-select:hover {
  background-color: rgb(103 76 113);
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.custom-option {
  font-size: 14px;
  padding: 8px;
}

.custom-option:hover {
  background-color: #f2f2f2;
}

.custom-data-select {
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  width: 85%;
  cursor: pointer;
  color: white;
  background-color: rgb(118 87 129);
}

.custom-data-select:hover {
  background-color: rgb(103 76 113);
}

.custom-data-select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.custom-data-select option {
  font-size: 14px;
  padding: 8px;
  background-color: #fff;
  color: black;
}

.custom-data-select option:hover {
  background-color: #f2f2f2;
}




  