.add-console-btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 10rem;
}

.add-console-btn:hover {
  background-color: #45a049;
}

.node-box {
  border-radius: 5px;
  width: 14rem;
  height: 3rem;
  background-color: #80008047;
  cursor: pointer;
}

.node-box p {
  position: absolute;
  font-size: 12px;
  top: -8px;
  left: 12px;
}

.node-box span {
  font-size: 14px;
  position: absolute;
  top: 25px;
  left: 14px;
  font-weight: 600;
}


/* .panel {
  position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 20vw;
    top: 20vh;
    align-items: center;
    gap: 5px;
} */